html {
  font-size: 18px;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 100%;
  background-color: #e1a200;
  background-image: url("../img/black-thread.png");
  font-family: 'Roboto', sans-serif;
}

a, a:focus, a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    background-color: transparent;
    color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  padding: .05em 0;
}

p, ul {
  text-align: left;
}

p {
  font-size: 1.2em;
  padding: 1.4em;
}

span.lead {
  display: block;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
}

section {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: transparent;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#site-wrapper, .navbar {
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
